<md-content layout="row">
    <md-card flex="20">
        <md-toolbar layout="row" class="md-primary">
            <div class="md-toolbar-tools">
                <span>Scenarios</span>
            </div>
        </md-toolbar>
        <md-card-content>
            <md-input-container>
                <ul class="lpdm_list">
                    <li ng-repeat="sr in ctrl.scenario_list"
                        >
                        <md-button
                            ng-class="sr == ctrl.scenario ? 'md-accent' : ''"
                            ng-click="ctrl.selectSimulationScenario(sr)">
                            {{sr.file_name}}
                        </md-button>

                    </li>
                </ul>
            </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-accent md-raised" ng-click="ctrl.runScenario(ctrl.scenario)">Run Scenario</md-button>
        </md-card-actions>
    </md-card>
    <md-card flex="20">
        <md-toolbar layout="row" class="md-primary">
            <div class="md-toolbar-tools">
                <span>Simulation Options</span>
            </div>
        </md-toolbar>

        <div layout="column" flex layout-padding ng-repeat="(the_key, the_value) in ctrl.scenario.content">
            <md-input-container flex ng-if="the_key != 'devices'" class="md-accent">
                <label>{{ the_key }}</label>
                <input ng-model="ctrl.scenario.content[the_key]">
            </md-input-container>
        </div>
    </md-card>
    <md-card flex="20">
        <md-toolbar layout="row" class="md-primary">
            <div class="md-toolbar-tools">
                <span>Grid Controllers</span>
                <span>
                    <md-button
                        class="md-icon-button"
                        ng-click="ctrl.newDevice('grid_controller', ctrl.scenario.content.devices.grid_controllers)">
                        <md-icon md-font-icon="fa-plus" class="fa fa-lg"></md-icon>
                    </md-button>
                </span>
            </div>
        </md-toolbar>
        <md-tabs md-dynamic-height md-border-bottom class="md-accent">
            <md-tab label="{{device.device_id}}" ng-repeat="device in ctrl.scenario.content.devices.grid_controllers">
                <div layout-padding>
                    <div layout="column" flex layout-padding ng-repeat="(the_key, the_value) in device">
                        <md-input-container flex class="md-accent" ng-if="the_key != 'battery'">
                            <label>{{ the_key }}</label>
                            <input ng-model="device[the_key]">
                        </md-input-container>
                    </div>
                </div>
            </md-tab>
        </md-tabs>

        <!--<div layout="column" flex layout-padding ng-repeat="device in ctrl.scenario.content.devices.grid_controllers">-->
            <!--<md-input-container flex>-->
                <!--<label>{{ the_key }}</label>-->
                <!--<input ng-model="ctrl.scenario.content[the_key]">-->
                <!--</md-input-container>-->


            <!--</div>-->

    </md-card>
    <md-card flex="20">
        <md-toolbar layout="row" class="md-primary">
            <div class="md-toolbar-tools">
                <span>Power Sources</span>
            </div>
        </md-toolbar>
    </md-card>
    <md-card flex="20">
        <md-toolbar layout="row" class="md-primary">
            <div class="md-toolbar-tools">
                <span>EUD's</span>
            </div>
        </md-toolbar>
    </md-card>
</md-content>

