ul.lpdm_list{
    padding: 0;
    margin: 0;
}

ul.lpdm_list li {
    padding: 5px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-top: 12px;
    /*margin: 5px;*/
    margin-bottom: 3px;
    margin-left: 0;
    /*margin-right: 10px;*/
    cursor: pointer;
    list-style-type: none;
    /*border: 1px black solid;*/
    /*box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.75);*/
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0.2)
}

.lpdm_list li:hover {
    background-color: rgba(255,87,34,1.0);
}
.lpdm_list li.selected {
    background-color:rgba(233,30,99, 1.0)
}

.data_grid {
    height: 600px
}
